.card-header
{
    //background: red;
    overflow: auto;
    display: flex;
    vertical-align: center;
    margin-bottom: 15px;
    
    .card-figure
    {
        float: left;
        margin-right: 15px;
        height: 40px;
        
        
    }

    .card-title
    {
        display: flex;
        align-items: center;

    }

    
}

.card-body
{
    margin-bottom: 40px;
}
.card-desc
{
    font-size: 14px;
    line-height: 20px;
    color: black;
    opacity: 50%;
    display: block;
    margin-bottom: 15px;
}

.card-time 
{
    font-size: 11px;
    color: black;
    opacity: 50%;
    display: block;
}

.card-footer
{
    //background: yellow;
}


.add-btn
{
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: $blick;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029;
}
// #answers {

//   .answer
//   {
//     margin-bottom: 5px;

//     &:hover .bar
//     {
//       border: 2px solid $blick;
//     }

//     &:last-child
//     {
//       margin-bottom: 0;
//     }


//     .bar 
//     {
//       height: 50px;

//       span
//       {
//         background: $blick;
//         width: 0px;
//       }
//     }

//     .percent
//     {
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       background: $grey;
//     }
//   }
// }

// #question.voted #answers .answer:hover .bar { border: 0; }
    
 
// .overlay 
// {
//   .spinner {

//     width: 24px;
//     height: 24px;
//     border-radius: 50%;
//     border: 3.8px solid;
//     border-color: #f7f7f7;
//     border-right-color: #da2219;
//     animation: spinner-d3wgkg 1.2s infinite linear;
//   }
  
//   @keyframes spinner-d3wgkg {
//     to {
//        transform: rotate(1turn);
//     }
//   }
// }



// .menu_overlay {
//   opacity: 0;
//   visibility: hidden;
//   transition: all 0.2s;

//   &.is-visible {
//     opacity: 0.5;
//     visibility: visible;
//     transition: all 0.2s;
//   }
// }

// .qr-code {
//   width: 50%;

//   // 2 cases
//   @include breakpoint(min, small) {
//     width: 60%;
//   }

//   // 3 cases
//   @include breakpoint(min, medium) {
//     width: 50%;
//   }
// }

// .logo {
//   position: absolute;
//   width: 120px;
//   height: auto;
//   //height: min-content !important;
//   top: 16px;
//   left: 16px;
// }

// .btns {
//   //display: flex;
// }

// a {
//   button {
//     //font-family: blickregular !important;
//     font-size: 14px;

//     @include breakpoint(max, 500px) {
//       // font-size: 12px;
//     }
//   }

//   display: block;
//   font-family: Inter !important;
//   background: linear-gradient(150deg, #ffffff, #dfdfdf) !important;
//   //background: red !important;
//   //border: 2px solid red;

//   &:first-child {
//     width: calc(33% - 6px);
//     float: left !important;
//     // margin-right: 12px;

//     @include breakpoint(max, 500px) {
//       width: 100%;
//       // margin-bottom: 12px;
//       margin-right: 0;
//     }
//   }

//   &:nth-child(2) {
//     width: calc(33% - 6px);
//     float: left !important;
//     // margin-right: 12px;

//     @include breakpoint(max, 500px) {
//       width: calc(50% - 6px);
//     }
//   }

//   &:nth-child(3) {
//     width: calc(33% - 6px);
//     float: left !important;

//     @include breakpoint(max, 500px) {
//       width: calc(50% - 6px);
//     }
//   }
// }



// .btn- iner {
//   // left: 12px;
//   z-index: 10;

//   @include breakpoint(min, 400px) {
//     left: 25px;
//   }

//   img {
//     width: 116px;

//     @include breakpoint(min, 400px) {
//       width: 150px;
//     }
//   }

//   // .img-btn
//   // {
//   //     width: 116px;

//   //     @include breakpoint(min, 400px) {
//   //         width: 150px;
//   //         display: none;
//   //     };
//   // }

//   // .img-qr
//   // {
//   //     width: 116px;
//   //     display: none;

//   //     @include breakpoint(min, 400px) {
//   //         width: 150px;
//   //         display: block;
//   //     };
//   // }
// }

// .phone-container {
//   z-index: 5;
//   //left: 50%;
//   right: 5vw;
//   top: 50%;
//   transform: translateY(-55%);

//   @include breakpoint(min, 375px) {
//     transform: translateY(-55%);
//     right: 6vw;
//   }

//   @include breakpoint(min, 400px) {
//     top: 15px;
//     transform: none;
//   }
// }

// .phone {
//   width: 44vw;
//   max-width: initial;

//   @include breakpoint(min, 375px) {
//     width: 45vw;
//   }

//   @include breakpoint(min, 400px) {
//     width: 233px;
//   }
// }

// .phone-gif {
//   width: 44vw;
//   max-width: initial;

//   @include breakpoint(min, 375px) {
//     width: 45vw;
//   }

//   @include breakpoint(min, 400px) {
//     width: 233px;
//     // width: 180px;
//     // transform: rotate(10deg) translateX(-30px) translateY(-25px);
//   }
// }

// .wording2,
// .wording2b {
//   font-family: Inter !important;
// }

// .wording2 {
//   // 2 case   s
//   // font-size: 12px;
//   @include breakpoint(min, small) {
//     display: none;
//   }
// }

// .wording2b {
//   display: none;
//   // 2 cases
//   @include breakpoint(min, small) {
//     display: block;
//     font-size: 16px;
//   }
// }

// .arrow {
//   // 2 cases
//   @include breakpoint(min, small) {
//     display: none;
//   }
// }

// .arrow2 {
//   display: none;

//   // 2 cases
//   @include breakpoint(min, small) {
//     display: block;
//   }
// }

// .box-shadow {
//   box-shadow: 0.3px 0.8px 2.2px rgba(0, 0, 0, 0.02),
//     0.8px 1.9px 5.3px rgba(0, 0, 0, 0.028),
//     1.5px 3.5px 10px rgba(0, 0, 0, 0.035),
//     2.7px 6.3px 17.9px rgba(0, 0, 0, 0.042),
//     5px 11.7px 33.4px rgba(0, 0, 0, 0.05), 12px 28px 80px rgba(0, 0, 0, 0.07);
// }

// .red-line {
//   width: 100%;
//   height: 5px;
//   background: #e20000;

//   @include breakpoint(min, medium) {
//     height: 5px;
//     background: #e20000;
//     width: 420px;
//   }
// }

// .logo-blick-2 {
//   width: 90px;
//   height: auto;
//   top: 0;
//   left: 40px;
// }

// .logo-yuh-bg-rose {
//   width: auto !important;
//   height: 100% !important;
//   right: 0 !important;
//   bottom: 0 !important;
//   // height: 308px !important;
//   // width: auto;
//   //box-shadow: -3px 0 30px black;
// }

// .logo-yuh-bg-rose-mobile {
//   width: 200px;
//   bottom: -25px;
//   right: 0;
// }

// .logo-yuh-rose {
//   width: 100px;
//   height: auto;
//   right: 0;
//   bottom: -3px;

//   @include breakpoint(min, medium) {
//     width: 175px;
//     height: auto;
//     right: 0;
//     bottom: -4px;
//   }
// }

// .h-custom-yuh {
//   height: 308px;
// }

// .logos {
//   width: 100px;

//   @include breakpoint(min, medium) {
//     top: 15px;
//     left: 15px;
//     width: 146px;
//     height: auto;
//   }
// }

// .circle-1 {
//   max-width: 3073px;
//   width: 3073px !important;
//   height: auto;
// }

// .circle-2 {
//   right: 19.5%;
//   top: -15px;

//   height: auto;
// }

// .circle-3 {
//   top: 55px;
//   left: 27.5%;
// }

// .circle-a {
//   bottom: -140px;
//   left: -225px;

//   @include breakpoint(min, medium) {
//     bottom: -91px;
//     left: -168px;
//   }
// }

// .circle-b {
//   bottom: -150px;
//   left: -20px;

//   @include breakpoint(min, medium) {
//     bottom: -119px;
//     left: 58px;
//   }
// }

// .circle-c {
//   bottom: -260px;
//   right: -200px;

//   @include breakpoint(min, medium) {
//     bottom: -244px;
//     right: -90px;
//   }
// }

// .circle-d {
//   bottom: -130px;
//   right: -210px;

//   @include breakpoint(min, medium) {
//     bottom: -130px;
//     right: -120px;
//   }
// }

// .parallax {
//   aspect-ratio: 16/8;
// }

// #parallax1 .parallax-bg {
//   height: 200%;
//   // position: relative;
//   top: -100%;
// }

// #parallax2 .parallax-bg {
//   height: 200%;
//   // position: relative;
//   top: -100%;
// }

// #parallax3 .parallax-bg {
//   height: 200%;
//   // position: relative;
//   top: -100%;
// }

// #parallax4 .parallax-bg {
//   height: 200%;
//   // position: relative;
//   top: -100%;
// }

// #parallax5 .parallax-bg {
//   height: 200%;
//   // position: relative;
//   top: -100%;
// }
