.card-header
{
    //background: red;
    overflow: auto;
    display: flex;
    vertical-align: center;
    margin-bottom: 15px;
    
    .card-figure
    {
        float: left;
        margin-right: 15px;
        height: 40px;
        
        
    }

    .card-title
    {
        display: flex;
        align-items: center;

    }

    
}

.card-body
{
    margin-bottom: 40px;
}
.card-desc
{
    font-size: 14px;
    line-height: 20px;
    color: black;
    opacity: 50%;
    display: block;
    margin-bottom: 15px;
}

.card-time 
{
    font-size: 11px;
    color: black;
    opacity: 50%;
    display: block;
}

.card-footer
{
    //background: yellow;
}


.add-btn
{
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: $blick;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029;
}
