

@font-face {
    font-family: 'blickregular';
    src: url('../fonts/code-next_regular-webfont.woff2') format('woff2'),
         url('../fonts/code-next_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blickextrabold';
    src: url('../fonts/code-next_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/code-next_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// #question
// {
//     .label1
//     {
//         font-family: 'Inter';
//         font-size: 14px;
//         color: $blick;
        
//     }

//     .label2
//     {
//         font-family: 'blickextrabold';
//         font-size: 19px;
//         color: black;
//     }

//     .label3
//     {
//         font-family: 'blickregular';
//         font-size: 19px;
//         color: black;
//     }

//     .percent
//     {
//         font-family: 'blickextrabold';
//         font-size: 19px;
//         color: black;
//         opacity: 0;
//     }

//     #total-votes
//     {
//         opacity: 0;
//     }
// }

// .text-blick
// {
//     color: #E2271B;
// }
